










































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper > *{
    margin: 10px;
    padding: 10px;
    flex: 1 100%;
    border-radius: 10px;
}
.header{
    background-color: rgb(216, 139, 39);
    min-height: 120px;
}
.row{
    display: flex;
    flex-direction: row;
}
.aside{
margin: 15px;
border: 2px solid pink;
background-color:rgb(9, 250, 49); 
border-radius: 15px
}
.aside-1{
   width: 300px; 
    height: 400px;
}
.aside-2{
    width: 300px; 
    height: 400px;    


}
.aside-3{
    width: 300px; 
    height: 400px;
}
.aside-4{
    width: 300px; 
    height: 400px;
}
.bb{
width: 200px;
height: 200px;

}
button{ 
    width:50px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer; 
    background-color:aquamarine;
    
}
body{background-color: rgb(11, 184, 49);} 

.footer{
    background-color: rgb(23, 241, 23);
    min-height: 80px;
}

    .aside-1{
        flex: 4;
        order: 1;
    }
    .aside-2{
        order: 2;
    }
    .aside-3{
        order: 3;
    }
    .aside-4{
        order: 4;
    }
    .img{
   width: 300px;
height: 300px;
    }
    .footer{
        order: 4;
    }


